# Environment variables
.env
*.env
.cursorignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv/
logs/

# Email previews
email_preview_*.html

# OS specific
.DS_Store
Thumbs.db
